//********************************************************************************************* COLOURS AND FONTS

$primary-font-color: white;
$secondary-font-color: #3d3c3c73;
$primary-bg-color: rgb(34, 30, 30);
$secondary-bg-color: rgb(54, 53, 53) ;

$kustom-color: rgb(213, 7, 31);
$kustom-color2: rgb(8, 137, 180);
$outline-color: rgb(69, 184, 69);

$heading-font: 'Lakki Reddy', cursive;
$body-font: 'Acme', sans-serif;

//******************************************************************************************************* MIXINS 

@mixin chill {
    transition: all 0.3s chill;
}

@mixin butt-hover {
    background-color: $kustom-color;
    border: 1px solid $primary-bg-color;
    color: $primary-bg-color;
}

@mixin butt-border {
    border: 1px solid $outline-color;
}

@mixin main-content-font($color: $primary-font-color, $family: $body-font) {
    color: $color;
    font-family: $family;
    line-height: 1.5em;
}

@mixin main-header-font($color: $kustom-color, $family: $heading-font) {
    color: $color;
    font-family: $family;
}

@mixin spaceage ($margin: 0.5em, $padding: 0.5em) {
    margin: $margin;
    padding: $padding;
}

@mixin main-positioning {
    position: relative;
    top: 0px;
    @include spaceage (0, 0 0 60px 0)
}

@mixin icon {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    @include spaceage;

    li {
        margin-right: 20px;
        line-height: 4em;
    }

    i {
    font-size: 3.5em;
    }
}

@mixin socials {
    max-width: 350px;
    margin: 0 auto;

    a {
        color: $primary-font-color;

        &:hover {
            color: $kustom-color;
        }
    }

    i {
        font-size: 2em;

        @include bigboy-screen {
            font-size: 3.5em;
        }
    }

    @include bigboy-screen {
        max-width: 650px;
    }
}

@mixin alt-link {
    a {
        color: $secondary-bg-color;
    }

    a:hover {
        color: $kustom-color;
    }
}

@mixin shadow-boxing {
    -webkit-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);
}


@mixin content-list {
    ul {
        padding-inline-start: 0px;
        i {
            padding-right: 5px;
        }
    }
}

@mixin biggie-screen {
    @media screen and (min-width: 768px) and (min-height: 461px) {
        @content;
    }
}

@mixin bigboy-screen {
    @media screen and (min-width: 1281px) {
        @content;
    }

}

@mixin wide-screen {
    @media screen and (max-height: 460px) {
        @content;
    }
}

@mixin big-screen-boxer {
    background-color: $primary-font-color;
    color: $secondary-font-color;
    max-width: 700px;
}


//******************************************************************************************************PAGE-SETUP

html {
    scroll-behavior: smooth;
}

#container {
    background-image: url("photo/background1.jpg");

    @include main-content-font;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "nav"
        "header"
        "about"
        "projects"
        "contact"
        "footer";
    justify-content: center;

    @include biggie-screen {
        grid-template-areas:
            "header"
            "nav"
            "about"
            "projects"
            "contact"
            "footer";
    }
}

h1 {
    @include main-header-font;
    @include spaceage;
}

h2 {
    @include main-header-font;
    @include spaceage;

    @include biggie-screen {
        @include spaceage(70px 8em 0.5em);
    }
}

h3 {
    @include main-header-font;

    @include bigboy-screen {
        @include main-header-font($primary-bg-color);
    }
}

a {
    color: $kustom-color2;
    text-decoration: none;
    &:hover {
        color: $secondary-bg-color;
    }

    @include bigboy-screen {
        color: $secondary-bg-color;

        &:hover {
            color: $kustom-color;
        }
    }
}



input, textarea {
    background-color: $primary-bg-color;
    color: $primary-font-color;
    border: $outline-color 1px solid;
    @include spaceage(0.5em, 0.3em);
    &::placeholder {
        color: $primary-font-color;
    }
}

textarea {
    height: 100px;
}

i {
    font-size: 1em;
}

ul {
    list-style: none;
}

em {
    font-style: normal;
    background-color: $kustom-color;
    color: $primary-bg-color;
    padding: 3px 2px;

    @include bigboy-screen {
        color: $secondary-font-color;
    }
}

.box {
    @include spaceage(1em);
    background-color: $secondary-bg-color;
    color: $secondary-font-color;
    @include main-content-font;

    @include biggie-screen {
        @include spaceage (0, 4em);
    }
}

.wrapper {
    display: inline-block;
    padding: 50% 0;
    @include biggie-screen {
        padding: 25% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    @include bigboy-screen {
        padding: 20% 0;
    }

    @include wide-screen {
        padding: 10% 0;
    }
}

.flex {
    @include biggie-screen {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    @include bigboy-screen {
        background-color: $primary-font-color;
        @include spaceage(0, 30px 0);
        flex-direction: row;
        align-items: flex-start;
        width: auto;
    }
}

.socials {
    @include icon;
    @include socials;
}

//******************************************************************************************************** IMAGES


img {
    max-width: 100%;
}

.images {
    @include spaceage(0, 0);
    max-width: auto;
    @include shadow-boxing;
}

.img-wrapper {
    @include spaceage;
    @include biggie-screen {

        @include spaceage (0, 0)
    }

    @include bigboy-screen {
        order: 2;
    }
}

.image-wrapper-full {
    @include spaceage(0, 0);
    
    @include biggie-screen {
        img {
            max-width: 700px;
            @include shadow-boxing;
        }
    }

    @include bigboy-screen {
        order: 2;
        @include spaceage(0 3em, 0)
    }
}

// ********************************************************************************************************footer


#footer {
    background-color: rgb(22, 21, 21);
    grid-area: footer;
    @include main-positioning ;
}

#to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    @include spaceage(4em 0, 0);

    #top-arrow i{
        font-size: 2.5em;
        color: $outline-color;
        position: relative;
        left: 8px;
        top: 0px;
        transition: all 0.3s ease;
    }

    #top-arrow {
        border: 1px solid $outline-color;
        border-radius: 50%;
        @include spaceage (0, 0.3em);
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;

        &:hover {
            border-color: $kustom-color;
        }

        &:hover i {

            color: $kustom-color;
            top: -4px;
        }
    }
}

small {
    display: flex;
    justify-content: center;
    @include spaceage();
}

// ********************************************************************************************************header
#header {
    grid-area: header;
    @include main-positioning;
    height: 100vh;
    text-align: center;
    padding: 0;
    i {
        font-size: 1em;
    }

    h3 {
        color: $kustom-color;
    }
}

.social-top {
    font-size: 1.5em;
    @include spaceage(0,0);
    justify-content: center;

    li {
        line-height: 1em;
        @include spaceage(0 7px, 0)
    }
}


#about-button {
    @include main-content-font($outline-color);
    display: inline-block;
    @include butt-border;
    @include spaceage;
    width: 200px;
    @include chill;
    a {
        color: $outline-color;
    }
}

#about-button:hover {
    @include butt-hover;
}

#about-button:hover .fa-angle-right:before {
    content: "\f107";
}

// *********************************************************************************************MAIN NAVIGATION
// (COMPONENT 1)

#nav {
    text-align: right;
    height: 50px;
    line-height: 60px;
    grid-area: nav;
    position: fixed;
    width: 100%;
    z-index: 1;
    @include main-header-font;

    @include wide-screen {
        line-height: 40px;
    }

    @include biggie-screen {
        position: sticky;
        top: 0;
        background-color: $kustom-color;
        height: auto;
        line-height: 50px;
    }

    label {
        z-index: 2;
        position: relative;
        display: block;
        cursor: pointer;
        color: $kustom-color;
        @include spaceage(0, 0 0.8em);
        font-size: 2em;
        @include biggie-screen {
            display: none;
        }
    }

    #toggle {
        display: none;
    }

    .menu {
        text-align: center;
        width: 100px;
        font-weight: bold;
        position:absolute;
        right:0;
        top:0;
        z-index:1;
        max-height:0;
        overflow:hidden;
        transform: perspective(200) rotate3d(1,0,0, -90deg);
        transform-origin: 50% 0;
        transition:350ms;

        #my-name {
            background-color: $primary-bg-color;
            font-size: 1.5em;
            z-index: -1;
            position: relative;

            @include biggie-screen {
                display: none;
            }
        }

        a {
        display: block;
        border-bottom: 1px solid $primary-bg-color;
        margin: 0px;
        background-color: $kustom-color;
        color: $primary-bg-color;

        @include biggie-screen {
            border: none;
            @include spaceage(0, 0 4.3vw);
            transition: background-color .75s, box-shadow .30s;

            &:hover {
                background-color: $secondary-bg-color;
                box-shadow: 0px 0px 0px 5px $kustom-color2;
                color: $primary-font-color;
            }
        }
        }

        @include biggie-screen {
            display: flex;
            justify-content: space-around;
            width: auto;
            @include spaceage (0, 0em);
            position: relative;
            left: 0px;
            width: 100%;
            max-height:100px;
            transform:perspective(400) rotate3d(0,0,0,0);
        }
    }

    #toggle:checked + .menu {
        width: 100%;
        @include spaceage (0, 0);
        display: flex;
        flex-direction: column;
        position: absolute;


        max-height:1000px;
        transform:perspective(400) rotate3d(0,0,0,0);

    }
    .menu:focus {
        display: none;
    }

    #menu-logo {
        display: none;
        @include biggie-screen {
            display: inline-block;
            color: $primary-bg-color;
        }
    }
}



// *****************************************************************************************************about

#about {
    background-color: $primary-bg-color;
    grid-area: about;
    @include main-positioning;
    .box {
        background-color: $primary-bg-color;
        max-width: 800px;

        @include bigboy-screen {
            @include big-screen-boxer;
        }
    }
}

.techstack {
    @include icon;
}




// ***************************************************************************************************projects
// COMPONENT 2

#projects {
    background-color: $secondary-bg-color;
    grid-area: projects;
    @include main-positioning;
    .box {
        @include spaceage;

        @include biggie-screen {
            @include spaceage(0, 0);
        }

        @include bigboy-screen {
            @include spaceage(0);
            @include big-screen-boxer;
        }

    }
    h2 {
        color: $kustom-color2;
    }

    h3 {
        font-size: 2em;
        line-height: 1.3em;
        @include main-header-font($primary-font-color);
        i {
            color: $kustom-color2;
        }

        @include bigboy-screen {
            @include main-header-font($primary-bg-color);
            i {
                color: $kustom-color;
            }
        }
    }

    @include bigboy-screen {
        display: grid;
        grid-template-areas:
            "project-head project-head"
            "project-1 project-2 "
            "project-3 project-4 "
            "resume resume";

        align-items: start;
        grid-gap: 3em;
        justify-content: center;

        .project-image {
            align-self: center;
        }
    }
}

#project-bg {
background-image: black;
}

.project-box {
    border-bottom: 1px solid $primary-font-color;

    &:nth-last-child(2) {
        border-bottom: none;
    }

    img {
        margin-top: 20px;
    }

    @include bigboy-screen {
        flex-direction: column;
        border-bottom: none;
        background: #f0f8ff;
        background: -moz-linear-gradient(-45deg,  #f0f8ff 0%, #d3eaff 100%);
        background: -webkit-linear-gradient(-45deg,  #f0f8ff 0%,#d3eaff 100%);
        background: linear-gradient(135deg,  #f0f8ff 0%,#d3eaff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f8ff', endColorstr='#d3eaff',GradientType=1 );


        @include shadow-boxing;
        @include alt-link;


        img {
            max-height: 500px;
        }
    }
}

.project-deets {
    @include biggie-screen {
        max-width: 670px;
    }
}
#project-head {
    grid-area: project-head;

    @include bigboy-screen {

        h2 {

        @include spaceage(70px 1em 0.5em);
        }
    }

  
}

#project-1 {
    grid-area: project-1;
}

#project-2 {
    grid-area: project-2;
}

#project-3 {
    grid-area: project-3;
}

#project-4 {
    grid-area: project-4;
}

#resume {
    display: flex;
	align-items: center;
    justify-content: center;
    grid-area: resume;
    max-width: 300px;
    margin: 0 auto;

    a {
        color: $outline-color;
    }

}

#resume-button {
	position: relative;
    @include butt-border;
    @include spaceage;
    @include chill;

    &:hover {
        @include butt-hover;
    }
}

// ******************************************************************************************************contact
// COMPONENT 4
#contact {
    grid-area: contact;
    @include main-positioning;
    @include spaceage(0, 0 0 10px 0);
    .box {
        background-color: transparent;
        @include main-content-font;
        max-width: 650px;
        margin: 0 auto;

        @include biggie-screen {
            @include spaceage(0 auto, 0 4em 4em 4em)
        }
    }
}

#email-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    input[type=submit] {
        padding: 1em;
        border-radius: 1em;
        max-width: 300px;
        align-self: flex-end;
    }

    input[type=submit]:hover {
        background-color: $kustom-color;
        color: $primary-bg-color;
        border-color:  $primary-bg-color;
    }
}

.form-label {
    display: none;
}


